header
{
	width: 100%;
	background-color: #fff;
	border-bottom: 2px solid #000;
	position: fixed;
	float: left;
	z-index: 100;
}
.container
{
	width: 85%;
	position: relative;
	left: 100px;
	float: left;
}
.logo
{
	float: left;
	width: 120px;
}
nav
{
	margin-top: 18px;
	background-color: #fff;
	float: right;
}
.navigation-links
{
	margin: 0;
	padding: 0;
}
	.navigation-links li
	{
		display: inline-block;
		color: #000;
		padding: 7px;
		cursor: pointer;
		-webkit-transition: color 0.5s ease;
		-o-transition: color 0.5s ease;
		transition: color 0.5s ease;

	}
	.navigation-links li:hover
	{
		color: #049372;

	}
.content
{
	width: 100%;
	top: 75px;
	position: relative;
	float: left;
}
.indroduction
{
	width: 100%;
	float: left;
	background-color: #049372;
}
.about
{
	width: 100%;
	background-color: #fff;
	float: left;
}
.team
{
	width: 100%;
	background-color: #ececec;
	float: left;
}
.team-member
{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
	.team-member > li
	{
		float: left;
		margin-left: 15px;
		margin-bottom: 20px;
	}
		.team-member > li img
		{
			transition: opacity 0.4s ease;
		}
		.team-member > li img:hover
		{
			opacity: 0.5;
		}
.personal-links
{
	list-style: none;
	background-color: green;
}
	.personal-links li
	{
		float: left;
		margin-left: 10px;
	}
.portfolio
{
	width: 100%;
	background-color: #049372;
	float: left;
}
.contact
{
	width: 100%;
	background-color: #fff;
	float: left;
}
footer
{
	width: 100%;
	height: 300px;
	float: left;
	background-color: #6C7A89;
	border-top: 2px solid #000;
}
	footer p
	{
		float: left;
		margin-top: 140px;
	}
.social-links
{
	display: inline-block;
	list-style: none;
	float: right;
	margin-top: 140px;
}
	.social-links li
	{
		float: left;
		margin-left: 5px;
		cursor: pointer;
		transition: opacity 0.2s linear;
		opacity: 0.4;
	}
	.social-links li:hover
	{
		opacity: 1;

	}
/*.social-links li a.facebook
{
	background-image: url(../img/facebook2.png);
	
}
.social-links li img
{
	height: 50px;
	width: 50px;
	display: block;
	background-color: #bbb;
	transition: all 0.5s ease;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
*/

h1
{
	color: #fff;
	font-weight: normal;
	font-size: 23pt;
	margin-top: 22px;
	border-left: 3px solid #aaa;
	padding-left: 15px;
}
h2
	{
	color: #000;
	font-weight: normal;
	font-size: 23pt;
	margin-top: 22px;
	border-left: 3px solid #aaa;
	padding-left: 15px;
}