@font-face
{
	font-family: aspace;
	src: url('../fonts/aspace_demo.otf');
}
@font-face
{
	font-family: DilleniaUPC;
	src: url('../fonts/DilleniaUPC.ttf');
}
body
{
	top: 0;
	padding-top: 3%;
}
header
{
	width: 100%;
	background-color: #ccc;
	position: fixed;
	float: left;
	top: 0;
	z-index: 999;
}
section
{
	width: 100%;
	float: left;
}
.container
{
	width: 90%;
	/*position: relative;*/
	/*float: left;*/
	margin-left: auto;
	margin-right: auto;
}
.logo
{
	float: left;
	width: 120px;
}
nav
{
	margin-top: 18px;
	float: right;
}
.navigation-links
{
	margin: 0;
	padding: 0;
	background-color: transparent;
}
	.navigation-links li
	{
		display: block;
		padding: 7px;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	.navigation-links li a
	{
		font-family: aspace;
		font-size: 10pt;
		font-weight: bold;
		-webkit-transition: color 0.5s ease;
		-o-transition: color 0.5s ease;
		transition: color 0.5s ease;
		text-decoration: none;
		color: #000;
	}
	.navigation-links li:hover a
	{
		color: #008a67;
	}
	.navigation-links li a.active
	{
		text-decoration: none;
		color: #008a67;
	}
.content
{
	width: 100%;
	position: relative;
	
}
.indroduction
{
	width: 100%;
	height: 768px;
	float: left;
	position: relative;
	background-image: url(../img/dark-web.jpg);
	background-attachment: fixed;
	background-clip: border-box;
	background-position: center center;
	background-origin: padding-box;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #008a67;
}
.about
{
	width: 100%;
	float: left;
}
	.about-content
	{
		width: 60%;
		background-color: #bbb;
		float: left;
	}
	.about-img
	{
		width: 40%;
		background-color: #f99;
		float: left;
	}
.team
{
	width: 100%;
	background-color: #ececec;
	float: left;
}
.team-member
{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
	.team-member > li
	{
		float: left;
		margin-left: 15px;
		margin-bottom: 20px;
	}
		.team-member > li img
		{
			transition: opacity 0.4s ease;
		}
		.team-member > li img:hover
		{
			opacity: 0.5;
		}
.personal-links
{
	list-style: none;
	background-color: green;
}
	.personal-links li
	{
		float: left;
	}
		.personal-links li a
		{
			display: block;
			width: 36px;
			height: 36px;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			opacity: 0.3;
			transition: opacity 0.5s linear;
		}
		.personal-links li a:hover
		{
			opacity: 1;
		}
			.personal-links li a.facebook
			{
				background-image: url(../img/f-Black.png);			
			}
			.personal-links li a.twitter
			{
				background-image: url(../img/t-Black.png);			
			}
			.personal-links li a.linkedin
			{
				background-image: url(../img/L-black.png);			
			}
			.personal-links li a.gplus
			{
				background-image: url(../img/G-black.png);			
			}


.portfolio
{
	width: 100%;
	background-color: #008a67;
	float: left;
	top: 100px;
}
.service
{
	width: 100%;
/*	background-image: url(../img/img-in.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-clip: border-box;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-size: cover;
	background-size: cover;
*/	display: block;
	height: 470px;
	left: 0;
	margin: 0;
}
.contact
{
	width: 100%;
	background-color: #fff;
	float: left;
	font-family: DilleniaUPC;
}
footer
{
	width: 100%;
	height: 250px;
	float: left;
	background-color: #008a67;
}
	footer p
	{
		float: left;
		margin-top: 100px;
	}
.social-links
{
	display: inline-block;
	list-style: none;
	float: right;
	margin-top: 140px;
}
	.social-links li
	{
		float: left;
		margin-left: 5px;
		cursor: pointer;
		transition: opacity 0.2s linear;
	}
		.social-links li a
		{
			display: block;
			width: 36px;
			height: 36px;
			opacity: 0.4;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			transition: opacity 0.5s linear;
		}
		.social-links li:hover a
		{
			opacity: 1;
		}
		.social-links li a.facebook
		{
			background-image: url(../img/facebook2.png);
		}
		.social-links li a.twitter
		{
			background-image: url(../img/twitter2.png);
		}
		.social-links li a.linkedin
		{
			background-image: url(../img/linkedin2.png);			
		}
		.social-links li a.gplus
		{
			background-image: url(../img/google2.png);			
		}
/*.social-links li a.facebook
{
	background-image: url(../img/facebook2.png);
	
}
.social-links li img
{
	height: 50px;
	width: 50px;
	display: block;
	background-color: #bbb;
	transition: all 0.5s ease;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
*/

h1
{
	text-align: center;
	text-shadow: 1px 2px 4px #000;
	font-family: aspace;
	color: #fff;
	font-weight: normal;
	font-size: 42pt;
	margin-top: 2%;
	opacity: 0.4;
	line-height: 50px;
	padding: 15% 0px 20px; 
}
h2
{
	font-family: aspace;
	color: #000;
	font-weight: normal;
	font-size: 36pt;
	margin-top: 2%;
	padding: 8% 0 0 30%;
}
p
{
	font-family: DilleniaUPC;
	font-size: 22pt;
}