@media (min-width: 320px) and (max-width: 479px) {
	.logo {
		float: none;
		margin: 0 auto;
	}
	.nav-menu {
		float: none;
		width: 290px;
		margin: 0 auto;
	}
	.navigation-links {
		margin: 0 auto;
	}
	.navigation-links li {
		padding: 0 5px;
	}
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
		font-size: 13px;
	}
	.node {
		width: 90%;
		padding: 5px;
		float: none;
		margin: 0 auto;
	}
	.node h2 {
		font-size: 14pt;
	}
	.node p {
		font-size: 8pt;
		line-height: 1.5;
	}
	.node img {
		max-width: 50%;
	}
}
@media screen and (max-width: 1140px) {
	.node h2 {
		font-size: 28pt;
	}
}
@media screen and (max-width: 980px) {
	.node h2 {
		font-size: 22pt;
	}
	.node p {
		font-size: 12pt;
	}
	.node {
		padding: 30px;
	}
}
@media screen and (max-width: 800px) {
	.node {
		padding: 25px;
	}
	.link-page {
		width: 115px;
	}
	.link-button {
		padding: 8px;
		font-size: 10pt;
	}
}
@media screen and (max-width: 767px) {
	.node {
		padding: 20px 10px;
	}
	.node h2 {
		font-size: 16pt;
	}
	.node p {
		font-size: 8pt;
	}
	.node img {
		max-width: 80%;
	}
	.link-page {
		width: 80px;
	}
	.link-button {
		padding: 5px;
		font-size: 8pt;
	}
}
@media (max-width: 480px){
	.node {
		padding: 10px;
	}
	.node h2 {
		font-size: 10pt;
	}
	.node p {
		font-size: 8pt;
		line-height: 1.5;
	}
}
@media (max-width: 360px){
	.logo {
		float: none;
		margin: 0 auto;
	}
	.nav-menu {
		float: none;
		width: 100%;
	}
	.navigation-links {
		margin: 0;
	}
	.navigation-links li {
		padding: 0 5px;
	}
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
		font-size: 15px;
	}
	.node {
		width: 90%;
		padding: 10px;
		float: none;
		margin: 0 auto;
	}
	.node h2 {
		font-size: 14pt;
	}
	.node p {
		font-size: 8pt;
		line-height: 1.5;
	}
	.node img {
		max-width: 65%;
	}
	.link-page {
		width: 70px;
	}
	.link-button {
		padding: 5px;
		font-size: 6pt;
	}
}
