@media screen and (min-width: 1141px) {
	.team-title {
		width: 80%;
		float: none;
		margin: 0 auto;
		overflow: hidden;
	}
	.team-title p{
		font-size: 18pt;
	}
 	.team-member li {
 		padding: 30px;
 		width: 20%;
 	}
}
@media screen and (max-width: 1140px) {
	.node h2 {
		font-size: 30pt;

	}
}
@media screen and (max-width: 980px) {
	.node h2 {
		font-size: 22pt;
	}
	.node p {
		font-size: 12pt;
	}
	.node {
		padding: 30px;
	}
}
@media (max-width: 991px){
	.logo {
		float: none;
		margin: 10px auto 0;
	}
	.nav-menu {
		float: none;
		width: 424px;
		margin: 0 auto;
	}
	.navigation-links {
		margin: 0 auto;
	}
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
	}
	.company-adress {
		width: 50%;
		overflow: hidden;
		float: none;
		margin: 10px auto;
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
	.company-adress ul li {
		float: none;
		margin: 5px 0;
	}
	.social-box {
		width: 155px;
		float: none;
		margin: 0 auto;
	}
	.footer-details {
		width: 100%;
		float: left;
		margin: 10px auto;
	}
	.site-details {
		float: none;
		text-align: center;
	}
	.features {
		width: 50%;
	}
	.team {
		padding: 0 15px;
	}
	.team-member li {
		width: 33.33%;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
	}
	.node {
		padding: 10px;
	}
	.node h2 {
		font-size: 16pt;
	}
	.node p {
		font-size: 10pt;
		line-height: 1.5;
	}
	.node img {
		max-width: 90%;
	}
	.link-page {
		width: 40%;
		text-align: center;
	}
	.link-button {
		width: 100%;
		background-color: #008a67;
		color: #fff;
		padding: 5px;
		font-size: 12pt;
	}
	.company-adress {
		width: 50%;
		overflow: hidden;
		margin: 20px auto;
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
	}
	.service-title {
		padding: 15px 20px 0;
		margin-bottom: 20px;
	}
	.service-title h2 {
		margin: 15px;
		font-size: 30pt;
	}
	.service-title p{
		font-size: 13pt;
	}
	.service-feature {
		width: 90%;
		float: none;
		overflow: hidden;
		margin: 20px auto 0;
	}
	.features {
		width: 100%;
		padding: 10px;
	}
	.team {
		padding: 0 10px;
	}
	.team-title h2{
		font-size: 30pt;
	}
	.team-member li {
		width: 50%;
	}
}

@media (min-width: 320px) and (max-width: 479px) {
	.logo {
		float: none;
		margin: 0 auto;
	}
	.logo img {
		max-width: 100px;
	}
	.nav-menu {
		float: none;
		width: 303px;
		margin: 0 auto;
	}
	.navigation-links {
		margin: 0 auto;
	}
	.navigation-links li {
		padding: 0 5px;
	}
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
		font-size: 13px;
	}
	.node {
		width: 70%;
		padding: 5px;
		float: none;
		margin: 0 auto;
	}
	.node h2 {
		font-size: 14pt;
	}
	.node p {
		font-size: 8pt;
		line-height: 1.5;
	}
	.node img {
		max-width: 50%;
	}
	.link-page {
		width: 50%;
		text-align: center;
	}
	.link-button {
		width: 100%;
		background-color: #008a67;
		color: #fff;
		padding: 5px;
		font-size: 8pt;
	}
	.service-title {
		padding: 5px 5px 0;
		margin-bottom: 30px;
	}
	.service-title h2{
		margin: 10px;
		font-size: 28pt;
	}
	.service-title p{
		font-size: 12pt;
	}
	.service-feature {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.features {
		width: 100%;
		padding: 10px;
	}
	.features h3 {
		font-size: 16pt;
	}
	.features p {
		font-size: 12pt;
	}
	.company-adress {
		width: 90%;
	}
	.team {
		padding: 0 10px;
	}
	.team-title h2{
		margin: 20px 0;
		font-size: 26pt;
	}
	.team-title p{
		font-size: 14pt;
	}
	.team-member li {
		width: 90%;
	}
}
@media (max-width: 319px) {
	.logo {
		margin: 0 auto;
	}
	.logo img {
		max-width: 100px;
	}
	.nav-menu {
		float: none;
		width: 100%;
	}
	.navigation-links {
		width: 70%;
		float: none;
		margin: 0 auto;
	}
	.navigation-links li {
		padding: 0 5px;
	}
	.navigation-links li.active a{
		border: none;
	}
	.navigation-links li a {
		font-size: 8px;
		height: 20px;
		line-height: 20px;
	}
	.navigation-links li:hover a {
		border: 0;
	}
	.navigation-links li a:hover {
		border: 0;
	}
	.node {
		width: 100%;
		float: none;
		padding: 10px;
	}
	.node h2 {
		font-size: 10pt;
	}
	.node p {
		font-size: 8pt;
		line-height: 1.5;
	}
	.node img {
		max-width: 60%;
	} 
	.link-page {
		width: 60%;
		text-align: center;
	}
	.link-button {
		width: 100%;
		background-color: #008a67;
		color: #fff;
		padding: 5px;
		font-size: 6pt;
	}
	.service-title {
		float: none;
		padding: 5px 5px 0;
	}
	.service-title h2{

		font-size: 14pt;
		margin: 10px;
	}
	.service-title p{
		font-size: 10pt;
	}
	.features {
		width: 100%;
		padding: 10px;
	}
	.features h3{
		font-size: 14pt;
	}
	.features p{
		font-size: 12pt;
	}
	.features img{
		max-width: 60px;
	}
	.company-adress {
		width: 100%;
	}
	.social-box {
		width: 100%;
	}

	.team {
		padding: 0 10px;
	}
	.team-title h2{
		margin: 15px 0;
		font-size: 18pt;
	}
	.team-title p{
		font-size: 10pt;
	}
	.team-member li {
		width: 100%;
	}
	.team-member li img {
		max-width: 150px;
	}
}