
@media screen and (max-width: 1140px) {
	.node h2 {
		font-size: 28pt;
	}
}
@media screen and (max-width: 980px) {
	.node h2 {
		font-size: 22pt;
	}
	.node p {
		font-size: 12pt;
	}
	.node {
		padding: 30px;
	}
}
@media (max-width: 991px){
	.logo {
		float: none;
		margin: 10px auto 0;
	}
	.nav-menu {
		float: none;
		width: 371px;
		margin: 0 auto;
	}
	.navigation-links {
		margin: 0 auto;
	}
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
	}
	.node {
		padding: 10px;
	}
	.node h2 {
		font-size: 14pt;
	}
	.node p {
		font-size: 10pt;
		line-height: 1.5;
	}
	.node img {
		max-width: 90%;
	}
}

@media (max-width: 360px){
	.link-page {
		width: 70px;
	}
	.link-button {
		padding: 5px;
		font-size: 6pt;
	}
}
@media (min-width: 320px) and (max-width: 479px) {
	.logo {
		float: none;
		margin: 0 auto;
	}
	.nav-menu {
		float: none;
		width: 290px;
		margin: 0 auto;
	}
	.navigation-links {
		margin: 0 auto;
	}
	.navigation-links li {
		padding: 0 5px;
	}
	.navigation-links li a {
		height: 40px;
		line-height: 40px;
		font-size: 13px;
	}
	.node {
		width: 70%;
		padding: 5px;
		float: none;
		margin: 0 auto;
	}
	.node h2 {
		font-size: 14pt;
	}
	.node p {
		font-size: 8pt;
		line-height: 1.5;
	}
	.node img {
		max-width: 50%;
	}
}
@media (max-width: 319px) {
	.nav-menu {
		float: none;
		width: 371px;
		margin: 0 auto;
	}
	.navigation-links {
		margin: 0 auto;
	}
	.navigation-links li a {
		font-size: 70%;
	}
}