.bg-login
{
}
.login
{
	width: 40%;
	margin: 20% auto 0;
	background-color: #fff;
	/*border: 2px solid;*/
	padding: 1%;
}
.login input
{
	float: left;
	width: 90%;
	border: 0;
	height: 40px;
	padding-left: 2%;
	margin-top: 10px;
}
.login button
{
	width: 100%;
	background-color: #008a67;
	border: 0;
	height: 40px;
	margin-top: 10px;
	transition: all 0.4s ease;
}
.login button:hover
{
	background-color: #081808;
}
.login a
{
	margin-top: 5%;
	width: 25px;
	height: 25px;
	background-position: center;
	background-size: 100%;
	opacity: 0.6;
	display: block;
	background-repeat: no-repeat;
	float: left;
	/*max-width: 100%;*/
}
.login a.user
{
	background-image: url(../img/user.png);
}
.login a.lock
{
	background-image: url(../img/lock.png);
}